/* .curr {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    z-index: 10;
    width: 34px;
    height: 28px;
} */
.search{
    position: relative;
    top: 75px;
    z-index: 3;
    text-align: center;
}
.search-input{
    padding: 8px;
    border-radius: 5px;
    border : 2px solid #b5b3b3;
    width: 350px;
    background-color: white;
}
.search-input:focus {
    outline: 3.5px solid rgba(34, 114, 235, 0.616);
    border: none;
  }
.currI {
    width: 34px;
    height: 34px;
    position: absolute;
    position: absolute;
    top: 9rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
}
@media(max-width:455px){
    .googlemaps{
        height: 85vh;
    }
}