#death-reports{

    background-color:white;
    -webkit-background-size: cover;
    padding : 120px 0 100px 0;
    height: auto;
    width: auto;
    position: relative;
    top: 50px;
}
#death-reports-stats li.title .red-btn-outline{
    font-size: 25px;
}
#death-reports-stats li.stats .icon{
    margin:  0 15px ;
}
.countdown{
    margin-bottom: 50px;
}
.kpi-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}