.pie-row{
    background-color: white;
    padding-bottom: 50px;
}.pie{
    height: 430px !important;
    width: 430px !important;
}
.pie-acc-title{
        margin: 50px;
        text-align: center;
}